html {
Body {color: blue;
   background: url(images.abdi1.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.content {
   background-color: rbga(0,0,0,0.7);
  color: black;
  padding: 48px;
  height: 300px;
  width: 500px;
  margin: 0 auto;
}
